# Prediction based on All India Quota Under Graduate Allotment -2017

In [0]:
#importing various libraries needed for our model

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import confusion_matrix
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
import re

In [11]:
ls

datalab/

In [12]:
# read csv

data = pd.read_csv('round_1_alloted.csv',header=None)

FileNotFoundError: ignored

In [133]:
data.head()

   0   1                                         2     3   4   5         6
0  1   1  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  Allotted
1  2   4          BANGALORE MED. COLLEGE,BANGALORE  MBBS  UR  UR  Allotted
2  3   7  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  Allotted
3  4   8  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  Allotted
4  5  10  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  Allotted

In [0]:
data = data.set_index(0)
#print(data)

In [135]:
data.head()

    1                                         2     3   4   5         6
0
1   1  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  Allotted
2   4          BANGALORE MED. COLLEGE,BANGALORE  MBBS  UR  UR  Allotted
3   7  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  Allotted
4   8  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  Allotted
5  10  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  Allotted

In [136]:
for idx,row in data.iterrows():
    if(row[5] == 'UR PH1'):
        data[5][idx] = 'UR PH'
    if(row[5] == 'OBC PH1'):
        data[5][idx] = 'OBC PH'
    if(row[5] == 'SC PH1'):
        data[5][idx] = 'SC PH'
    if(row[5] == 'UR PH2'):
        data[5][idx] = 'UR PH'
    if(row[5] == 'OBC PH2'):
        data[5][idx] = 'OBC PH'
    if(row[5] == 'SC PH2'):
        data[5][idx] = 'SC PH'
    if(row[5] == 'ST PH1' or row[5] == 'ST PH2'):
        data[5][idx] = 'ST PH'

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [0]:
# drop 6th coloumn as it only has 'Allotted' value.

data = data.drop(6,axis=1)

In [0]:
# dictionary to map college to integer value

from collections import defaultdict
clg_to_int = defaultdict(str)
idx = 0
for i in data[2]:
    if(i not in clg_to_int):
        clg_to_int[i] = idx
        idx+=1

In [0]:
#clg_to_int
#int_to_clg
# there are 217 colleges from 0 to 216 :-)

In [0]:
# map int to college through previous clg_to_int mapping

int_to_clg = ['str']*218
for value in clg_to_int:
    #print(value)
    int_to_clg[clg_to_int[value]] = value

In [0]:
for i in range(len(int_to_clg)):
  int_to_clg[i]=re.sub('\r',' ',int_to_clg[i])
  int_to_clg[i]=re.sub('\n',' ',int_to_clg[i])

In [142]:
# add extra coloumn to convert college name to previously mapped value

data[7] = pd.Series(np.random.randint(len(data)), index=data.index)

for i in range(len(data)):
    #print(datar)
    data.iloc[i,5]=int(clg_to_int[data.iloc[i,1]])
data.head()

    1                                         2     3   4   5  7
0
1   1  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  0
2   4          BANGALORE MED. COLLEGE,BANGALORE  MBBS  UR  UR  1
3   7  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  0
4   8  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  0
5  10  MAULANA AZAD MEDICAL COLLEGE, NEW\rDELHI  MBBS  UR  UR  0

In [143]:
# now we can drop college name 

data = data.drop(2,axis = 1)
data.head()

    1     3   4   5  7
0
1   1  MBBS  UR  UR  0
2   4  MBBS  UR  UR  1
3   7  MBBS  UR  UR  0
4   8  MBBS  UR  UR  0
5  10  MBBS  UR  UR  0

In [0]:
# partition X and Y 

X = data[[1,3,4,5]]
Y = data[7]
Y = pd.DataFrame(Y)

In [145]:
X.head()

    1     3   4   5
0
1   1  MBBS  UR  UR
2   4  MBBS  UR  UR
3   7  MBBS  UR  UR
4   8  MBBS  UR  UR
5  10  MBBS  UR  UR

In [146]:
Y.head(10)

    7
0
1   0
2   1
3   0
4   0
5   0
6   0
7   0
8   0
9   0
10  2

In [0]:
# creating category of X

category = [3,4,5]
for cat in category:
    dumm = pd.get_dummies(X[cat],prefix=cat)
    X = pd.concat([X,dumm],axis=1)
    X.drop(cat,axis=1,inplace = True)

In [148]:
# after category 
X.head()

,1,3_BDS,3_MBBS,4_OBC,4_OBC PH,4_SC,4_SC PH,4_ST,4_ST PH,4_UR,4_UR PH,5_OBC,5_OBC PH,5_SC,5_SC PH,5_ST,5_ST PH,5_UR,5_UR PH
0,,,,,,,,,,,,,,,,,,,
1,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
2,4,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
3,7,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
4,8,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
5,10,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0

In [0]:
# categorizing Y

#dumm = pd.get_dummies(Y,prefix=None)

In [150]:
Y.head(10)

    7
0
1   0
2   1
3   0
4   0
5   0
6   0
7   0
8   0
9   0
10  2

In [0]:
# spliting X and Y in crossvalidation and traing set

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.1, random_state=42)

In [152]:
print(X.shape)
print(Y.shape)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)
X_test.head()

(4018, 19)
(4018, 1)
(3616, 19)
(402, 19)
(3616, 1)
(402, 1)

,1,3_BDS,3_MBBS,4_OBC,4_OBC PH,4_SC,4_SC PH,4_ST,4_ST PH,4_UR,4_UR PH,5_OBC,5_OBC PH,5_SC,5_SC PH,5_ST,5_ST PH,5_UR,5_UR PH
0,,,,,,,,,,,,,,,,,,,
1072,1714,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
1201,1961,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
2719,5522,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
1290,2156,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
3221,19631,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0

In [0]:
# decision tree model
dtree_model = DecisionTreeRegressor(random_state=42).fit(X_train, y_train)
#linear_model = LinearRegression().fit(X_train,y_train)
#svr_model = SVR().fit(X_train,y_train)

In [0]:
# predicting values for crossvalidation 'y_test' set

y_pred = dtree_model.predict(X_test)
y_pred = pd.DataFrame(y_pred, index = y_test.index, columns=[7])
#y_pred_linear = pd.DataFrame(linear_model.predict(X_test),index=y_test.index,columns=[7])
#y_pred_svr = pd.DataFrame(svr_model.predict(X_test),index=y_test.index,columns=[7])
#y_pred.rename(columns = )
#y_test.iloc[7][7]

In [155]:
summ = 0
for i in range (len(y_test)):
    if(abs(y_pred.iloc[i][7]-y_test.iloc[i][7])<=3):
        summ+=1
summ

86

In [156]:
# now we can make prediction according to rank, Alloted_category, course, candidate category.
print('What is your rank?')
rank = input()

What is your rank?
4

In [157]:
print('Select the category which you want to be alloted(from options below)?')
print('1. UR \n2. UR PH\n3. OBC \n4. OBC PH\n5. SC\n6. SC PH\n7. ST\n8. ST PH')
alloted_cat = input()

Select the category which you want to be alloted(from options below)?
1. UR
2. UR PH
3. OBC
4. OBC PH
5. SC
6. SC PH
7. ST
8. ST PH
UR

In [158]:
print('Select the category which you belong to (from options below)?')
print('1. UR \n2. UR PH\n3. OBC \n4. OBC PH\n5. SC\n6. SC PH\n7. ST\n8. ST PH')
candidate_cat = input()

Select the category which you belong to (from options below)?
1. UR
2. UR PH
3. OBC
4. OBC PH
5. SC
6. SC PH
7. ST
8. ST PH
UR

In [159]:
print('Select the course which you wana to take from options below)?')
print('1. MBBS \n2. BDS')
course = input()

Select the course which you wana to take from options below)?
1. MBBS
2. BDS
MBBS

In [160]:
clmns = ['3_BDS','3_MBBS','4_OBC','4_OBC PH','4_SC','4_SC PH','4_ST','4_ST PH','4_UR','4_UR PH','5_OBC','5_OBC PH','5_SC','5_SC PH','5_ST','5_ST PH','5_UR','5_UR PH']
test = pd.DataFrame({0:[1],1:[rank]})
for i in clmns:
  test[i] = pd.Series(np.random.randint(1))
test

,0,1,3_BDS,3_MBBS,4_OBC,4_OBC PH,4_SC,4_SC PH,4_ST,4_ST PH,4_UR,4_UR PH,5_OBC,5_OBC PH,5_SC,5_SC PH,5_ST,5_ST PH,5_UR,5_UR PH
0,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [0]:
test = test.set_index(0)

In [162]:
test['3_'+course] = 1
test['4_'+alloted_cat] = 1
test['5_'+candidate_cat] = 1
test

,1,3_BDS,3_MBBS,4_OBC,4_OBC PH,4_SC,4_SC PH,4_ST,4_ST PH,4_UR,4_UR PH,5_OBC,5_OBC PH,5_SC,5_SC PH,5_ST,5_ST PH,5_UR,5_UR PH
0,,,,,,,,,,,,,,,,,,,
1,4,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0

In [0]:
dtree_model = DecisionTreeRegressor(random_state=42).fit(X, Y)

In [0]:
ans = dtree_model.predict(test)

In [167]:
print('Model predicted colleges:\n\n')

if int(ans[0])<3:
  for i in range(6):
    print(int_to_clg[i])
elif int(ans[0])>213:
  for i in range(211,216):
    print(int_to_clg[i])
else:
  for i in range(int(ans[0]),int(ans[0])+3):
    print(int_to_clg[i])
  for i in range(int(ans[0])-3,int(ans[0])):
    print(int_to_clg[i])

Model predicted colleges:


MAULANA AZAD MEDICAL COLLEGE, NEWDELHI
BANGALORE MED. COLLEGE,BANGALORE
GOVT. MEDICAL COLLEGE, KOTTAYAM
GOVERNMENT MEDICAL COLLEGE, SURAT
SETH G.S. MEDICAL COLLEGE, MUMBAI
GOVT.MEDICALCOLLEGE,THIRUVANANTHAPURAM